@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Color */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2657EB;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* Transition */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

/* Header */
body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

section {
    width: 100%;
    height: 100vh;
    background-color: var(--body-color);
}

section nav {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5% 8px 5%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 2;
}

section nav .left {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    width: 50px;
}

section nav .logo h1 {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

section nav .logo h1 span {
    color: #ffe100;
    margin-left: 4px;
    text-decoration: underline;
}

section nav .right ul {
    list-style: none;
}

section nav .right ul li {
    display: inline-block;
    margin: 0 5px;
}

section nav .right ul li a {
    position: relative;
    color: #a0a0a0;
    text-decoration: none;
    transition: 0.4s;
}

section nav .right ul li a:after {
    content: "";
    position: absolute;
    background: #3a7bd5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

section nav .right ul li a:hover {
    color: #fff;
}

section nav .right ul li a:hover:after {
    width: 100%;
}

/* End Header */

/* Slide */
.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.swiper::selection {
    user-select: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.swiper-slide .image {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide .image .black {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.9));
    z-index: 1;
}

.swiper-slide .image .black h1 {
    font-size: 50px;
    text-align: left;
    position: relative;
    color: #fff;
    top: 52%;
    left: 5%;
}

.swiper-slide .image .black .star {
    color: #ffd500;
    text-align: left;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 52%;
    left: 5%;
}

.swiper-slide .image .black p {
    width: 600px;
    text-align: justify;
    font-size: 16px;
    color: #ccc;
    margin: 10px 0;
    position: relative;
    top: 52%;
    left: 5%;
    line-height: 23px;
}

.swiper-slide .image .black .genre {
    text-align: left;
    font-size: 16px;
    margin: 13px 0;
    position: relative;
    top: 52%;
    left: 5%;
}

.swiper-slide .image .black .genre a.category {
    background: #1b1b1b84;
    backdrop-filter: blur(10px);
    text-decoration: none;
    color: #ccc;
    padding: 4px 7px;
    border-radius: 4px;
}

.swiper-slide .image .black .genre a.category span {
    color: #ffe100;
}

.swiper-slide .image .black .watch {
    width: 700px;
    text-align: left;
    display: flex;
    font-size: 16px;
    margin: 10px 0;
    position: relative;
    top: 52%;
    left: 5%;
}

.swiper-slide .image .black .watch i {
    width: 40px;
    height: 40px;
    padding-left: 13px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #2657eb;
    background: -webkit-linear-gradient(to bottom right, #2657eb, #3a7bd5);
    background: linear-gradient(to bottom right, #2657eb, #3a7bd5);
    border-radius: 50%;
}

.swiper-slide .image .black .watch i:hover {
    width: 130px;
    border-radius: 24px;
    transition: 0.4s;
    cursor: pointer;
}

.swiper-slide .image .black .watch i a {
    visibility: hidden;
}

.swiper-slide .image .black .watch i:hover a {
    visibility: visible;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding-right: 10px;
}

.swiper-slide .image .black .watch p {
    height: auto;
    left: 15px;
    position: relative;
    color: #fff;
}

.swiper-slide video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 135%;
    margin-top: -164px;
    object-fit: cover;
    z-index: 0;
}

.swiper-slide video:not([autoplay]) {
    display: none;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
/* End Slide */

/* Navigation Bar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .image-text i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-top: 20px;
    min-width: 60px;
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--trans-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--trans-02);
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: var(--trans-04);
    border-radius: 6px;
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar .menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    display: flex;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-03);
}

body.dark .switch::before {
    left: 24px;
}
/* End Navigation Bar */

/* Second */
.second {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 25px;
    background: var(--body-color);
}

.second .lastest {
    width: 95%;
    margin: 0 auto;
}

.second .lastest h1 {
    position: relative;
    width: 100%;
    font-size: 20px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.second .lastest .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second .lastest .box::after {
    content: "";
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
}

.second .lastest .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.second .lastest .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.second .lastest .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.second .lastest .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
}

.second .lastest .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.second .lastest .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.second .lastest .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.second .lastest .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.second .lastest .box .card .details .left .date_quality p.date {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.second .lastest .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
}

.second .lastest .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.second .lastest .box .card .details .left .info .rate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.second .lastest .box .card .details .left .info .rate i {
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
}

.second .lastest .box .card .details .left .info .rate p {
    font-size: 12px;
}

.second .lastest .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.second .lastest .box .card .details .left .info .time i {
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
}

.second .lastest .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.second .lastest .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.second .lastest .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.second .lastest .box .card .details .right i {
    width: 40px;
    height: 40px;
    color: #282931;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 8px 0;
}

.second .lastest .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End Second */

/* Upcoming Movies */
.upcoming {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: var(--body-color);
}

.upcoming .movies_box {
    width: 95%;
    margin: 0 auto;
}

.upcoming .movies_box h1 {
    position: relative;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.upcoming .movies_box .box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.upcoming .movies_box .box::after {
    content: "";
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
}

.upcoming .movies_box .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.upcoming .movies_box .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.upcoming .movies_box .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.upcoming .movies_box .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.upcoming .movies_box .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.upcoming .movies_box .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.upcoming .movies_box .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.upcoming .movies_box .box .card .details .left .date_quality p.date {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
}

.upcoming .movies_box .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.upcoming .movies_box .box .card .details .left .info .rate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.upcoming .movies_box .box .card .details .left .info .rate i {
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
}

.upcoming .movies_box .box .card .details .left .info .rate p {
    font-size: 12px;
}

.upcoming .movies_box .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.upcoming .movies_box .box .card .details .left .info .time i {
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
}

.upcoming .movies_box .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.upcoming .movies_box .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.upcoming .movies_box .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.upcoming .movies_box .box .card .details .right i {
    width: 40px;
    height: 40px;
    color: #282931;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 8px 0;
}

.upcoming .movies_box .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End Upcoming Movies */

/* Show */
.show {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 25px;
    background-color: var(--body-color);
}

.show .tv_show {
    width: 95%;
    margin: 0 auto;
}

.show .tv_show h1 {
    position: relative;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.show .tv_show .box {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.show .tv_show .box::after {
    content: "";
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -10px;
}

.show .tv_show .box .card {
    width: 250px;
    height: 370px;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
}

.show .tv_show .box .card .details {
    width: 250px;
    height: 370px;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    transition: 0.3s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details {
    opacity: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
    cursor: pointer;
}

.show .tv_show .box .card .details .left {
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateX(-100px);
    transition: 0.4s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details .left {
    opacity: 1;
    transform: translateX(0);
}

.show .tv_show .box .card .details .left p.name {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.show .tv_show .box .card .details .left .date_quality {
    display: flex;
    align-items: center;
}

.show .tv_show .box .card .details .left .date_quality p.quality {
    width: 30px;
    font-size: 13px;
    background: #ffe100;
    color: #282931;
    margin-left: 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
}

.show .tv_show .box .card .details .left .date_quality p.date {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 8px;
}

.show .tv_show .box .card .details .left p.category {
    margin-left: 10px;
    font-size: 13px;
    margin-bottom: 8px;
}

.show .tv_show .box .card .details .left .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.show .tv_show .box .card .details .left .info .rate {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.show .tv_show .box .card .details .left .info .rate i {
    font-size: 12px;
    color: #ffd500;
    margin-right: 5px;
}

.show .tv_show .box .card .details .left .info .rate p {
    font-size: 12px;
}

.show .tv_show .box .card .details .left .info .time {
    display: flex;
    align-items: center;
}

.show .tv_show .box .card .details .left .info .time i {
    font-size: 12px;
    color: #ffd500;
    margin-left: 5px;
}

.show .tv_show .box .card .details .left .info .time p {
    font-size: 12px;
    margin-left: 5px;
}

.show .tv_show .box .card .details .right {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    transform: translateX(100px);
    transition: 0.4s;
    opacity: 0;
}

.show .tv_show .box .card:hover .details .right {
    opacity: 1;
    transform: translateX(0);
}

.show .tv_show .box .card .details .right i {
    width: 40px;
    height: 40px;
    color: #282931;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: #ffe100;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px 8px 0;
}

.show .tv_show .box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* End Show */

/* Newsletter */
.newsletter {
    width: 100%;
    height: auto;
    padding: 0 0 40px 0;
    background-color: var(--body-color);
}

.newsletter h1 {
    text-align: center;
    color: #ffe100;
}

.newsletter .news_card {
    position: relative;
    width: 550px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter .news_card input {
    width: 550px;
    height: 55px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 35px;
    border: 3px solid #ffe100;
    padding: 0 20px;
    outline: none;
    background: none;
    color: #ccc;
}

.newsletter .news_card button {
    position: absolute;
    right: 0;
    width: 100px;
    height: 45px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 5px;
    border: 0;
    outline: none;
    background-color: #ffe100;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
/* End Newsletter */

/* Scrollbar */
/* ::-webkit-scrollbar {
    width: 10px;
    height: 500px;
    background-color: #232323;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
} */
/* End Scrollbar */
